html {
	font-family: 'Calibri Bold', 'Calibri';
	font-size: 14px;
	background: #f7f7f7;
}

.sit-cmb {
	border-radius: 0px;
	height: 28px;
}

.sit-inp {
	border-radius: 0px;
	height: 20px;
	width: 100%;
}

.sit-inp-big-cmm {
	border-radius: 0px;
	height: 60px;
	width: 90%;
}

.sit-inp-ctr {
	border-radius: 0px;
	height: 20px;
	width: 90%;
	text-align: center;
}

.sit-inp-inf {
	text-align: center;
	border-radius: 0px;
	height: 20px;
	font-weight: bold;
	color: #fff;
	background: black;
	width: 80%;
	margin: 0 auto;
}

.sit-tbl {
	width: 100%;
	font-size: 10px;
	text-align: left;
}

.main-100 {
	width: 100%;
	margin: 0 auto;
	border-spacing: 0px;
}
.main-95 {
	width: 95%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-90 {
	width: 90%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-85 {
	width: 85%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-80 {
	width: 80%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-70 {
	width: 70%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-60 {
	width: 60%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-50 {
	width: 50%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-40 {
	width: 40%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-35 {
	width: 35%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-30 {
	width: 30%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-25 {
	width: 25%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-20 {
	width: 20%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-15 {
	width: 15%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-10 {
	width: 10%;
	margin: 0 auto;
	border-spacing: 0px;
}

.main-05 {
	width: 5%;
	margin: 0 auto;
	border-spacing: 0px;
}

.img-load {
	width: 32px;
}

.alg-ctr {
	text-align: center;
}

.alg-rgh {
	text-align: right;
}

.alg-lft {
	text-align: left;
}

.box-mnu {
	background: #6f847773;
	width: 95%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 10px;
	border-radius: 10px;
}

.box-usr {
	background: #ffff;
	width: 95%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 10px;
}

.box-prj {
	background: #70e6be;
}

.box-smp {
	background: #dbdbdb;
}

.box {
	width: 90%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 5px;
	height: 450px;
}

.box-ttl-bdy {
	width: 100%;
	background: #34373c;
	color: #fffefe;
	padding: 5px;
	text-align: center;
	margin-left: -5px;
	margin-top: -5px;
}

.box-min {
	width: 95%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

.box-mdm {
	width: 80%;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	padding: 10px;
}

.box-trp {
	background-color: rgb(249, 243, 209);
}

.box-egs {
	background-color: rgb(186, 242, 249);
}

.box-lrv {
	background-color: #d9ffaa;
}

.box-adl {
	background-color: #b5b99b33;
}

.box-prf {
	background-color: #8015ea4d;
}

.box-ttl {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.box-inf {
	background: rgb(5, 255, 161);
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	padding: 10px;
	font-size: 12px;
}

.pnl-view {
	background: #34373c;
}

.pnl-view-dta {
	background: #fff;
}

.lgo-cirev {
	width: 100px;
}

.lgo-inspi {
	width: 170px;
}

.txt-gnr {
	font-style: italic;
	font-size: 11px;
}

.txt-area-dsp {
	font-size: 9px;
	text-align: right;
}