.ui-widget .ui-widget {
	font-size: 0.92em;
}

.ui-widget-content a {
	color: #fff;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	padding: 1px 1px;
	border-width: 0.5px;
	border-style: solid;
}

.ui-corner-all {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	width: 80%;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 0px solid #a8a8a8;
	background: #fff;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	border-style: none;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	border-style: none;
}
